# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sica_db
DB_USERNAME=sica_user
DB_PASSWORD=sica_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=686a8466-e810-4405-b173-8f24cdbd0126-super-secret-key-for-jwt-token-generation
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Archivo
UPLOAD_DIR=./uploads

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:3001

# Logs
LOG_LEVEL=DEBUG
SHOW_SQL=false
